# Java / Maven / Gradle
target/
*.class
*.jar
*.war
*.ear
*.iml

# Spring Boot logs
*.log

# IDEs
.vscode/
.idea/
*.ipr
*.iws
*.swp

# Docker / environment
*.env

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários / backups
*.bak
